@model Cafeteria.Models.Reporte

<br />
        @*<div id="leftSide" >
        <div class="logo">

                <img src="C:\Users\TEMP\Desktop\ stardusthotel\Stardust\Stardust\Content\images\logo.png"/>

        </div>*@

<div>  </div>
<table>
<tr>
   <td align="left"> Stardust  </td>
   <td align="right"> Fecha y Hora:  </td>
</tr>
<tr><td></td><td align="right"> @DateTime.Now  </td></tr>
 </table>
 <div>  </div>
 <div>    </div>
<div>    </div>
<div>    </div>
<div>    </div>
<div  align="center">
    <h2> Reporte de Almacenes  </h2>
    Desde: @Model.fecha1 hasta @Model.fecha2
</div>

<div>    </div>
<div>    </div>

<table cellpadding="3" cellspacing="3">
    <tr border="1" bgcolor="#777777" color="#ffffff">
        <td width="40%" align="center">
            Sucursal
        </td>
        <td width="30%" align="center">
            Ingrediente
        </td>
        <td width="30%" align="center">
            Stock Mínimo
        </td>
        <td width="30%" align="center">
            Stock Actual
        </td>
        <td width="25%" align="center">
            Cantidad Solicitada 
        </td>
    </tr>
    @{
        var OddColor = "#DDEEEE";
        var evenColor = "#EEFFFF";
        var Odd = OddColor;
    }
    
    
    @for (int i = 0; i < Model.listaalmacen.Count; i++)
    {
       
       
       if (Model.cantidad[i] ==1) { 
        <tr border="1" bgcolor="@Odd">
            <td> Sucursal @Model.listaalmacen[i][0]
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
         //  p++;
        }
          <tr border="1" bgcolor="@Odd">
        
        
        

        <td></td>
        @for (int j = 1; j < Model.listaalmacen[i].Count; j++)
        {
            <td>@Model.listaalmacen[i][j]
            </td>
        }
        </tr>

        if (Odd == OddColor)
        {
            Odd = evenColor;
        }
        else
        {
            Odd = OddColor;
        }

    }
</table>
